<div class="container">
  <h1> Lista de alumnos !</h1>

  <table class="table table-hover">
    <thead>
      <tr class="table-active">
        <th>Nombre</th>
        <th>Edad</th>
        <th>Mail</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @students.each do |student| %>
        <tr>
          <td><%= student.name %></td>
          <td><%= student.age %></td>
          <td><%= student.email %></td>
        </tr>
      <% end %>
    </tbody>
  </table>



</div>
